<!DOCTYPE html>
<html>
<head>
  <title>Thomas Weinert - 404 - Page Not Found</title>
  <link rel="stylesheet" type="text/css" href="symbols/css/fontello.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header class="clearfix">
    <h1>Thomas Weinert</h1>
  </header>
  {% include profiles.html %}
  <section id="error" class="clearfix">
    <h2>404 - Page Not Found</h2>
    <p>
      Sorry, the page your're looking for does not exists.
    </p>
    <p>
      <a href="/">Homepage</a>
    </p>
  </section>
  <footer>
    Copyright 2013 Thomas Weinert
  </footer>
  {% include statistics.html %}
</body>
</html>